* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16pt 24px;
}

main {
  background-color: #e5e5e5;
}

.logo {
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  font-weight: 700;
  text-decoration: none;
}

.homepage {
  background-image: url(images/header-shapes\ mobile@2x.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100%;
  padding: 114px 24px;
  background-color: white;
  border-bottom-left-radius: 100px;
}

.main_container_one {
  width: 87.2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  width: 80%;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  font-weight: 700;
}

.main_container_one p {
  width: 95%;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #344563;
  padding-top: 12px;
  text-align: start;
}

.connect_one {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #7f8cff;
  text-decoration: none;
  padding-top: 12px;
}

.main_container_one ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-top: 15px;
}

.main_container_one li {
  list-style: none;
}

.main_container_two p {
  width: 95%;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #344563;
  padding-top: 12px;
  text-align: start;
}

.connect_two {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #7f8cff;
  text-decoration: none;
  padding-top: 12px;
}

.main_container_two ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-top: 15px;
}

.main_container_two li {
  list-style: none;
}

.about_page {
  background-color: white;
  padding: 114px 24px;
}

.about_myself_header {
  width: 30%;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.work_section {
  width: 100%;
  padding: 114px 24px;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 80px;
}

.card_container {
  width: 90.2%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 88px;
}

.card_container h2 {
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  font-weight: 700;
}

.contact_me h2 {
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  padding-top: 50px;
}

.card_one {
  width: 100%;
  background-color: #fff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #dfe1e6;
  padding: 20px;
}

.details_wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.card_image img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.card_details {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card_details ul {
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.canopy {
  color: #344563;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  list-style: none;
}

.card_details p {
  width: 100%;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.first_buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 8px;
  justify-content: flex-start;
}

.first_buttons li {
  color: #6070ff;
  background-color: #ebebff;
  border-radius: 8px;
  text-decoration: none;
  padding: 4px 12px;
}

.last-button {
  display: flex;
  flex-direction: row;
  padding-top: 24px;
  padding-bottom: 16px;
}

.languages_container {
  width: 100%;
}

.first_buttons,
.languages_container ul {
  list-style: none;
}

.last-button button {
  color: #396df2;
  line-height: 24px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 8px;
  text-decoration: none;
  padding: 12px;
  background-color: #fff;
  border: 1px solid #396df2;
}

.about-button {
  padding-top: 34px;
  padding-bottom: 24px;
}

.about-button button {
  color: #396df2;
  line-height: 24px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 8px;
  text-decoration: none;
  padding: 12px 12px;
  background-color: #fff;
  border: 1px solid #396df2;
}

.contact_button {
  padding-top: 22px;
  padding-bottom: 120px;
}

.contact_button button {
  color: #396df2;
  line-height: 24px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 8px;
  padding: 12px 12px;
  background-color: #fff;
  border: 1px solid #396df2;
}

button:hover {
  background-color: #6070ff;
  transition: 0.5s;
  color: white;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

button:active {
  background-color: #2230d2;
  color: white;
}

button:disabled {
  background-color: transparent;
  color: #5e6c84;
  border: 1px solid #5e6c84;
}

.languages_wrapper {
  padding: 12px 24px 100px 24px;
}

.icon_one {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 10px;
}

.icon_one h4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

.icon_one:nth-child(1) i {
  transform: rotate(90deg);
}

.languages {
  padding: 0 4px;
}

.languages_details {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 10px;
  background-color: #f7f7f9;
  margin: 12px;
  gap: 12px;
}

hr {
  border: 0.5px solid #dfe1e6;
  margin: 0 12px;
}

.contact {
  background-color: #6070ff;
  background-image: url(images/form_picture.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  padding: 60px 24px 8px 24px;
  border-top-left-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact_me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact_me p {
  width: 327px;
  color: #ebebff;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  padding-bottom: 44px;
  padding-top: 12px;
}

form {
  min-width: 270px;
  max-width: 447px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 18px;
}

.form_details {
  padding: 15px 20px;
  border-radius: 8px;
  border: none;
}

.form_details_message {
  border-radius: 8px;
  padding: 15px 20px;
}

form ::placeholder {
  color: #b3bac5;
  font-size: 15px;
  line-height: 24px;
}

.humburger_menu {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.mobile_menu {
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  list-style: none;
  background-color: rgba(96, 112, 255, 0.874);
  padding-left: 28px;
  padding-right: 28px;
  backdrop-filter: saturate(180%) blur(5px);
}

.mobile_menu a {
  display: flex;
  padding-top: 50px;
  text-decoration: none;
  color: white;
  font-size: 32px;
  line-height: 44px;
  font-weight: 600;
}

.bar {
  width: 24px;
  height: 2px;
  background-color: #6070ff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.humburger_menu.active .bar:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
  background-color: white;
  z-index: 100;
}

.humburger_menu.active .bar:nth-child(2) {
  opacity: 0;
}

.humburger_menu.active .bar:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
  z-index: 100;
  background-color: white;
}

.active {
  left: 0;
}

.pop_up_blur_effect {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
  backdrop-filter: blur(5px);
}

.popup_card_container {
  width: 100%;
  height: 100vh;
  top: 0;
  padding: 50px 20px;
  z-index: 2;
  overflow: auto;
  position: fixed;
}

.popup_card_one {
  width: 100%;
  background-color: #fff;
  border-radius: 16px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  border: 1px solid #dfe1e6;
  padding: 20px;
}

.top_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.popup_cross_button {
  border: none;
  color: #67798e;
  font-size: 18px;
  line-height: 5px;
  font-weight: 800;
  background-color: white;
}

.paragraph {
  width: 95%;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.project_button {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 16px;
  gap: 3px;
}

.project_button button {
  display: flex;
  align-items: center;
  color: #6070ff;
  line-height: 24px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 8px;
  text-decoration: none;
  padding: 12px;
  background-color: #fff;
  border: 1px solid #6070ff;
  gap: 8px;
}

.popup_buttons .project_button {
  gap: 16px;
}

.extra_buttons {
  display: none;
}

@media (min-width: 768px) {
  nav {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 114px;
  }

  .logo {
    width: 100%;
  }

  h1 {
    font-size: 48px;
    line-height: 60px;
    color: #172b4d;
    font-weight: 700;
  }

  .main_container_one p {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: #344563;
    padding-top: 12px;
    text-align: start;
  }

  .humburger_menu {
    display: none;
  }

  .mobile_menu a {
    width: 100%;
    display: flex;
    padding-top: 7px;
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    color: #344563;
  }

  .main_container_one {
    width: 100%;
    padding: 0 280px;
  }

  .mobile_menu a:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }

  .mobile_menu {
    height: auto;
    background-color: white;
    flex-direction: row;
    justify-content: flex-end;
    position: static;
    list-style: none;
    gap: 20px;
  }

  .homepage {
    width: 100%;
    height: 100vh;
  }

  .card_one {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .card_container:nth-child(even) .card_image {
    order: 2;
  }

  .about_page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .languages {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .languages_details {
    position: relative;
    width: 122px;
    height: 120px;
  }

  .languages_details img {
    position: absolute;
    height: 48px;
    width: 48px;
    left: calc(50% - 48px / 2 - 25px);
    top: 12px;
  }

  .languages_details p {
    position: absolute;
    height: 24px;
    left: 12px;
    top: 76px;
  }

  .contact_me {
    width: 100%;
  }

  .contact_me p {
    width: 500px;
  }

  form {
    width: 100%;
  }

  .contact_button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popup_card_container {
    display: flex;
    flex-direction: column;
    padding: 77px 142px 77px 142px;
    z-index: 100;
  }

  .paragraph_buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
  }

  .paragraph {
    width: 100%;
    font-size: 16px;
    line-height: 30px;
    color: #344563;
  }

  .extra_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    list-style: none;
  }

  .extra_buttons li {
    color: #6070ff;
    background-color: #ebebff;
    border-radius: 8px;
    text-decoration: none;
    padding: 4px 12px;
  }
}
