* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16pt 24px;
}

h1 {
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.logo {
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  font-weight: 700;
  text-decoration: none;
}

.homepage {
  background-image: url(images/header-shapes\ mobile@2x.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.main_container_one {
  min-width: 327px;
  padding-top: 114px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
}

.main_container_one h1 {
  width: 80%;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  font-weight: 700;
}

.main_container_one p {
  width: 95%;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #344563;
  padding-top: 12px;
  text-align: start;
}

.connect_one {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #7f8cff;
  text-decoration: none;
  padding-top: 12px;
}

.main_container_one ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-top: 15px;
}

.main_container_one li {
  list-style: none;
}

.about_myself_header {
  width: 30%;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.work_section {
  padding-top: 114px;
  padding-bottom: 114px;
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
}

.card_container {
  width: 100%;
  display: grid;
  gap: 88px;
  padding: 0 24px;
}

.card_container h2 {
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  font-weight: 700;
  padding: 12px 0;
}

.contact_me h2 {
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  padding-top: 50px;
}

.card_one:nth-child(even) h2 {
  width: 90%;
}

.card_one {
  width: 100%;
  background-color: #fff;
  border-radius: 16px;
  display: grid;
  padding: 16px 0 16px 0;
  align-items: start;
  justify-items: center;
  box-sizing: border-box;
  border: 1px solid #dfe1e6;
}

.details_wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: auto;
}

.card_image {
  grid-column-start: 1;
}

.card_details ul {
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.canopy {
  color: #344563;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  list-style: none;
}

.card_details p {
  width: 95%;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.first_buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-top: 10px;
  justify-content: flex-start;
}

.first_buttons a {
  color: #6070ff;
  background-color: #ebebff;
  border-radius: 8px;
  text-decoration: none;
  padding: 4px 12px;
}

.last-button {
  display: flex;
  flex-direction: row;
  padding-top: 24px;
  padding-bottom: 16px;
}

.main_container_two {
  min-width: 327px;
  padding-top: 114px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
}

.main_container_two h1 {
  width: 80%;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  font-weight: 700;
}

.main_container_two p {
  width: 95%;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #344563;
  padding-top: 12px;
  text-align: start;
}

.connect_two {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #7f8cff;
  text-decoration: none;
  padding-top: 12px;
}

.main_container_two ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-top: 15px;
}

.main_container_two li {
  list-style: none;
}

.first_buttons,
.languages_container ul {
  list-style: none;
}

.last-button button {
  color: #396df2;
  line-height: 24px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 8px;
  text-decoration: none;
  padding: 12px;
  background-color: #fff;
  border: 1px solid #396df2;
}

.about-button {
  padding-top: 34px;
  padding-bottom: 24px;
}

.about-button button {
  color: #396df2;
  line-height: 24px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 8px;
  text-decoration: none;
  padding: 12px 12px;
  background-color: #fff;
  border: 1px solid #396df2;
}

.contact_button {
  padding-top: 22px;
  padding-bottom: 24px;
}

.contact_button button {
  color: #396df2;
  line-height: 24px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 8px;
  padding: 12px 12px;
  background-color: #fff;
  border: 1px solid #396df2;
}

button:hover {
  background-color: #6070ff;
  transition: 0.5s;
  color: white;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

button:active {
  background-color: #2230d2;
  color: white;
}

button:disabled {
  background-color: transparent;
  color: #5e6c84;
  border: 1px solid #5e6c84;
}

.languages_wrapper {
  padding: 12px 24px 100px 24px;
}

.icon_one {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 11pc;
  margin: 30px 10px;
}

.icon_one h4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

.icon_one:nth-child(1) i {
  transform: rotate(90deg);
}

.languages {
  padding: 0 10px;
}

.languages_details {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 10px;
  background-color: #f7f7f9;
  margin: 12px;
  gap: 12px;
}

hr {
  border: 0.5px solid #dfe1e6;
  margin: 0 12px;
}

.contact {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #6070ff;
  background-image: url(images/form_picture.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  padding: 60px 24px 8px 24px;
  border-top-left-radius: 100px;
}

.contact_me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact_me p {
  min-width: 327px;
  color: #ebebff;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  padding-bottom: 44px;
  padding-top: 12px;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 18px;
}

.form_details {
  padding: 15px 20px;
  border-radius: 8px;
  border: none;
}

.form_details_message {
  border-radius: 8px;
  padding: 15px 20px;
}

form ::placeholder {
  color: #b3bac5;
  font-size: 15px;
  line-height: 24px;
}

.menu ul {
  display: none;
}

@media screen and (min-width: 768px) {
  .homepage {
    background-image: url(images/Header\ bg.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .logo {
    font-size: 18px;
    line-height: 20px;
    color: #6070ff;
    font-weight: 700;
    text-decoration: none;
    padding-left: 144px;
  }

  .main_container_one {
    width: 100%;
    padding-top: 240px;
    padding-left: 240px;
    padding-right: 240px;
  }

  .main_container_one h1 {
    width: 310px;
  }

  .menu img {
    display: none;
  }

  .menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding-right: 154px;
    text-decoration: none;
  }

  .menu li {
    text-decoration: none;
    list-style: none;
  }

  .menu a {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;
    color: #344563;
  }

  .work_section {
    padding-left: 142px;
    padding-right: 142px;
  }

  .card_container {
    width: 100%;
    display: grid;
    gap: 88px;
  }

  .card_one {
    width: 100%;
    background-color: #fff;
    border-radius: 16px;
    display: flex;
    border: 1px solid #dfe1e6;
    padding: 20px;
    gap: 28px;
  }

  .card_one:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
  }

  .card_image img {
    width: 544px;
  }

  .details_wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0;
  }

  .card_container h2 {
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    font-weight: 700;
    padding: 12px 0;
  }

  .canopy {
    color: #344563;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    list-style: none;
  }

  .card_details ul {
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 21px;
    padding-bottom: 16px;
  }

  .card_details p {
    width: 95%;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    padding-bottom: 16px;
  }

  .main_container_two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 24px;
    padding-top: 0;
  }

  .about_page {
    display: flex;
    flex-direction: row;
  }

  .about_myself_header p {
    width: 447px;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
  }

  .languages_details {
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 8px;
    padding: 12px 64px 12px 12px;
    background-color: #f7f7f9;
    margin: 12px;
    gap: 12px;
  }

  .about_page_wrapper {
    display: flex;
    flex-direction: row;
    margin: 142px;
  }

  .languages {
    padding: 0 4px;
    display: flex;
    flex-direction: row;
  }

  .icon_one {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 10px;
  }

  form {
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    gap: 18px;
  }

  .contact_button {
    display: flex;
    align-self: center;
    padding-top: 22px;
    padding-bottom: 24px;
  }

  .contact_me p {
    width: 569px;
    color: #ebebff;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    padding-bottom: 44px;
    padding-top: 12px;
  }
}
