* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16pt 24px;
}

.logo {
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  font-weight: 700;
  text-decoration: none;
}

.homepage {
  background-image: url(images/header-shapes\ mobile@2x.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.main_container {
  min-width: 327px;
  padding-top: 114px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
}

h1 {
  width: 80%;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  font-weight: 700;
}

.main_container p {
  width: 95%;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #344563;
  padding-top: 12px;
  text-align: start;
}

.connect {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #7f8cff;
  text-decoration: none;
  padding-top: 12px;
}

.main_container ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-top: 15px;
}

.main_container li {
  list-style: none;
}

.about_myself_header {
  width: 30%;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.work_section {
  padding-top: 114px;
  padding-bottom: 114px;
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
}

.card_container {
  width: 100%;
  display: grid;
  gap: 88px;
  padding: 0 24px;
}

.card_container h2 {
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  font-weight: 700;
  padding: 12px 0;
}

.card_one:nth-child(even) h2 {
  width: 90%;
}

.card_one {
  width: 100%;
  background-color: #fff;
  border-radius: 16px;
  display: grid;
  padding: 16px 0 16px 0;
  align-items: start;
  justify-items: center;
  box-sizing: border-box;
  border: 1px solid #dfe1e6;
}

.details_wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: auto;
}

.card_image {
  grid-column-start: 1;
}

.card_details ul {
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.canopy {
  color: #344563;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  list-style: none;
}

.card_details p {
  width: 95%;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.first_buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-top: 10px;
  justify-content: flex-start;
}

.first_buttons a {
  color: #6070ff;
  background-color: #ebebff;
  border-radius: 8px;
  text-decoration: none;
  padding: 4px 12px;
}

.last-button {
  display: flex;
  flex-direction: row;
  padding-top: 24px;
  padding-bottom: 16px;
}

.first_buttons,
.languages_container ul {
  list-style: none;
}

.last-button button {
  color: #396df2;
  line-height: 24px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 8px;
  text-decoration: none;
  padding: 12px;
  background-color: #fff;
  border: 1px solid #396df2;
}

.about_page {
  height: 100vh;
}

.about-button {
  padding-top: 34px;
  padding-bottom: 24px;
}

.about-button button {
  color: #396df2;
  line-height: 24px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 8px;
  text-decoration: none;
  padding: 12px 12px;
  background-color: #fff;
  border: 1px solid #396df2;
}

button:hover {
  background-color: #6070ff;
  transition: 0.5s;
  color: white;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

button:active {
  background-color: #2230d2;
  color: white;
}

button:disabled {
  background-color: transparent;
  color: #5e6c84;
  border: 1px solid #5e6c84;
}

.languages_wrapper {
  padding: 12px 24px;
}

.icon_one {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 11pc;
  margin: 30px 10px;
}

.icon_one h4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

.icon_one:nth-child(1) i {
  transform: rotate(90deg);
}

.languages {
  padding: 0 4px;
}

.languages_details {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 10px;
  background-color: #f7f7f9;
  margin: 12px;
  gap: 12px;
}

hr {
  border: 0.5px solid #dfe1e6;
  margin: 0 12px;
}
